# ===============================
# Node / TypeScript
# ===============================
node_modules/
build/
coverage/

# ===============================
# TypeScript
# ===============================
*.tsbuildinfo

# ===============================
# Logs
# ===============================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ===============================
# Environment variables
# ===============================
.env
.env.*
!.env.example

# ===============================
# Editor / OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDEs
# ===============================
.vscode/
.idea/
*.swp
*.swo

# ===============================
# Misc
# ===============================
.cache/
.tmp/
.temp/
